/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


body {

  height: 100%;
 /* color: #FFFFFF;*/
}

.white {
  color: #000;

}

body.modal-open {
  color: #333;
}

a.navbar-brand {
	font-size: 25px;

	font-family: "garamond-premier-pro", serif;
	font-style: italic;
}

.jumbotron {


  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.6); 
  text-align: center;
}

/*.panel {
  

  background: rgb(0, 0, 0);
  

  background: rgba(0, 0, 0, 0.6); 

  border-color: #000;
}*/

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


.slides-text-container {
margin-top: 70px;
max-width: 100%;
width: 100%;
position: static;
left: 90px;
top: 13%;
padding: 10px 20px;
/*  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 25%;
  padding-left:5%;
  padding-right:5%;*/
}

.slides-container h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  font-family: "futura-pt", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-style: bold;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px #000;
}

/*.slides-container {
  text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
}*/

  .logo {
    display: none;

  }

.navbar {
  z-index: 4;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-brand {
  display: initial;
}

#navbar-tel-button{
  display: initial;
}

.main-separator {
  width: 100%;
  height: 40px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.6);
  border-top: 1px solid rgba(0,0,0,0.6);
  background-color: #2c3e50;
}

.main-separator img {
  max-height: 40px;
}

.pane:nth-of-type(2n+1) {
  background-color: #f6f6f6;
}

.pane {
  padding: 80px 0;
  z-index: 5;
  /*min-width: 1060px;*/
}

#map-canvas {
  width: auto;
  height: 350px;
}

footer {
  padding-top: 60px;

}

footer .panel {
  width: 31%;
  margin-right: 3%;
  float: left;
  display: block;
  border-bottom: 0;
}

footer .panel.share a.twitter {
background-position: -160px 0;
}

footer .panel.share a.facebook {
background-position: -80px 0;
}

footer .panel.share a.gplus {
background-position: 0 0;
}

footer .panel.share a {
margin-right: 14px;
display: inline-block;
width: 48px;
height: 48px;
background-image: url(/static/img/icons.png);
background-size: 296px 56px;
background-repeat: no-repeat;
text-indent: -100em;
overflow: hidden;
font-size: 0;
}

footer p.licensing {
width: 60%;
margin: 0 auto;
color: #777;
text-align: center;
clear: both;
font-size: 13px;
padding-bottom: 40px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
/*รรง*/
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

/*.navbar-brand {
  display: none;
}*/

.logo {
  display: initial;
  top: 60px;
  position: absolute;
  left: 40px;
  opacity: .7;
 z-index: 20;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}



  .slides-container h1 {
font-size: 40px;
line-height: 37px;
}

#navbar-tel-button{
  display: none;
}

.main-separator {
  height: 70px;
}

.main-separator img {
  max-height: 70px;
}


}





/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {   
  .slides-container h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    font-family: "futura-pt", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-style: bold;
    letter-spacing: 1px;
  } 

.slides-text-container {
  position: relative;
  width: 50%;
  max-width: 500px;
  left: 90px;
  top: 13%;
  padding: 10px 20px;

/*  position: relative;
  text-align: right;
  width: 100%;
  padding-top: 40%;
  padding-left:5%;
  padding-right:5%;*/
}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .slides-container h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    font-family: "futura-pt", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-style: bold;
    letter-spacing: 1px;
  }
}

