<div class="panel panel-default">
	<div class="panel-heading">Pages - <a href="/admin/page/new">New page</a></div>
	<div class="panel-body">
		<div class="list-group">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Menu</th>
						<th>Locale</th>
						<th>Url</th>
						<th>Name</th>
						<th>Modifications</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{%- for page in pages %}
					<tr>
						<td><span class="label label-primary">{{page.menu.string_id()}}</span></td>
						<td><span class="label label-info">{{page.locale.id()}}</span></td>
						<td><a href="/admin/page/{{ page.key.id() }}">{{ page.key.id() }}</a>
						</td>
						<td>{{ page.name }}</td>
						<td><span class="label label-warning">Modified
								{%- if page.modification_date != None %}{{page.modification_date.strftime("%Y-%m-%d %H:%M:%S")}}{%- endif %}
								by {{page.modification_author}}</span></td>
						<td><a href="/admin/page/{{ page.key.id() }}/delete" class="btn btn-danger btn-sm" name="delete">Delete</a></td>
					</tr>
					{%- endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>