{% import 'forms.html' as forms %}
{% extends "admin_base.html" %}
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="/admin">admin</a></li>
</ol>	
{% endblock breadcrumbs %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">New page
				{% if page %}
				<form action="/admin/page/{{ page.key.id() }}/delete" method="post">
					<button type="submit" class="btn btn-danger btn-xs">Delete
					</button>
				</form>
				{% endif %}
			</div>
			<div class="panel-body">

				<form class="form-horizontal" role="form" action="{{action}}" method="post">
					{% if page %}
					{{ forms.input('unique id and url', 'page_id', page.key.id()) }}
					{{ forms.input('Menu name (in current locale)', 'name', page.name) }}
					{{ forms.select('Select locale', 'locale_id', locale_list, page.locale.id()) }}
					{{ forms.select('Select menu', 'menu_id', menu_list, page.menu.id()) }}
					{{ forms.select('Select pagination', 'pagination', pagination_choice, page.pagination) }}
					{{ forms.input('title', 'title', page.title) }}
					{{ forms.input('lead', 'lead', page.lead) }}
					{{ forms.textarea_ckeditor('content', 'content', page.content|safe) }}
					{{ forms.textarea_code('widget', 'widget', page.widget|safe, 3) }}
					{{ forms.textarea_code('widget script (page bottom)', 'widget_script', page.widget_script|safe, 20) }}
					{{ forms.input('room_price', 'room_price', page.room_price) }}
					{{ forms.input('room_price_detail', 'room_price_detail', page.room_price_detail) }}

					{% else %}
					{{ forms.input('unique id and url', 'page_id') }}
					{{ forms.input('Menu name (in current locale)', 'name') }}
					{{ forms.select('Select locale', 'locale_id', locale_list, ) }}
					{{ forms.select('Select menu', 'menu_id', menu_list) }}
					{{ forms.select('Select pagination', 'pagination', pagination_choice) }}
					{% endif %}

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary ">{{action_label}}</button>
						</div>
					</div>

				</form>
				{% if page %}
				<form class="form-horizontal" role="form"  action="{{upload_url}}" enctype="multipart/form-data" method="post">
					<input type="hidden" name="page_id" value="{{page.key.id()}}"/>
					<div class="form-group">
						<label class="col-sm-2 control-label">Background images</label>
						{% for background in page.backgrounds %}
						<div class="col-sm-2">
							<img src="/serve/{{background}}"  class="img-responsive img-thumbnail">
							<a href="/admin/page/{{ page.key.id() }}/{{background}}/delete" class="btn btn-danger" name="delete">Delete</a>
							<!-- <input type="button" class="btn btn-danger" name="delete" value="Delete"/> -->
						</div>

						{% endfor %}
						<div class="col-sm-10">
							<input type="file" class="btn btn-primary" name="picture"/>
						</div>
						<div class="col-sm-offset-2 col-sm-10">

							<button type="submit" class="btn btn-primary ">Add new image</button>
						</div>
					</div>
				</form>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-md-6">
			
	</div>
</div>
{% endblock content %}