{% import 'forms.html' as forms %}
{% extends "admin_base.html" %}
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="/admin">admin</a></li>
</ol>	
{% endblock breadcrumbs %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">New page</div>
			<div class="panel-body">

				<form class="form-horizontal" role="form" action="{{action}}" method="post">
					{% if page %}
					  <div class="form-group">
					    <label class="col-sm-2 control-label">Creation</label>
					    <div class="col-sm-10">
					      <p class="form-control-static"><em>{% if page.creation_date != None %}{{page.creation_date.strftime("%Y-%m-%d %H:%M:%S")}}{% endif %}</em> by <strong>{{page.creation_author}}</strong></p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-2 control-label">Last Modification</label>
					    <div class="col-sm-10">
					      <p class="form-control-static"><em>{% if page.modification_date != None %}{{page.modification_date.strftime("%Y-%m-%d %H:%M:%S")}}{% endif %}</em> by <strong>{{page.modification_author}}</strong></p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-2 control-label">Actions</label>
					    <div class="col-sm-10">
					      <p class="form-control-static">
					      	<a href="/admin/page/{{page.key.id()}}/add_block" class="btn btn-xs btn-info">Add a block</a>
					      	<a href="/admin/page/{{ page.key.id() }}/delete" class="btn btn-xs btn-danger">Delete</a></p>
					    </div>
					  </div>
					{{ forms.input('unique id and url', 'page_id', page.key.id()) }}
					{{ forms.input('Menu name (in current locale)', 'name', page.name) }}
					{{ forms.select('Select locale', 'locale_id', locale_list, page.locale.id()) }}
					{{ forms.select('Select menu', 'menu_id', menu_list, page.menu.id()) }}
					{{ forms.input('title', 'title', page.title) }}
					{{ forms.input('Description (used as summary in social web, 200-300 char max', 'description', page.description) }}


					{% else %}
					{{ forms.input('unique id and url', 'page_id') }}
					{{ forms.input('Menu name (in current locale)', 'name') }}
					{{ forms.select('Select locale', 'locale_id', locale_list, ) }}
					{{ forms.select('Select menu', 'menu_id', menu_list) }}
					{% endif %}

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary ">{{action_label}}</button>
						</div>
					</div>

				</form>
				{% if page %}
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Background images</label>

					<div class="col-sm-10">
						<h2 class="sub-header">Picture list for this menu item</h2>
						<div class="table-responsive">

							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Caption</th>
										<th>Size</th>
										<th>Preview</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									{% for background in page.backgrounds %}
									<tr>
										<form  role="form"  action="/admin/picture/{{background.get().key.id()}}/update" enctype="multipart/form-data" method="post">
											<td>1</td>
											<td><input type="text" class="form-control" value="{{background.get().caption}}" name="caption" ></td>
											<td></td>
											<td><img width="150px" src="/serve/{{background.get().size_max}}"  class="img-responsive img-thumbnail"></td>
											<td><a href="/admin/picture/{{background.get().key.id()}}/delete?page_id={{page.key.id()}}" class="btn btn-danger" name="delete">Delete</a>
												<input type="hidden" name="page_id" value="{{page.key.id()}}"/>
												<button type="submit" class="btn btn-primary ">Save</button></td>
											</form>
										</tr>

										{% endfor %}
									</tbody>
								</table>
								

								<!-- <input type="button" class="btn btn-danger" name="delete" value="Delete"/> -->
							</div>


							<div class="col-sm-10">

							</div>
							<div class="col-sm-offset-2 col-sm-10">
								<form class="form-horizontal" role="form"  action="{{upload_url}}" enctype="multipart/form-data" method="post">
									<input type="file" class="btn btn-primary" name="picture"/>
									<input type="hidden" name="page_id" value="{{page.key.id()}}"/>
									<input type="hidden" name="return-to" value="/admin/page/{{ page.key.id() }}"/>
									<button type="submit" class="btn btn-primary ">Add new image</button>
								</form>
							</div>
						</div>

						
					</div>
				</div>


				{% endif %}
			</div>

		</div>
	</div>
	{% if page %}
	
	<div class="row">
		{% for block in page.blocks %}

		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Block</div>
				<div class="panel-body">

					<form method="post" class="form-horizontal" role="form" action="/admin/block/{{ block.get().key.id() }}/update">
						<div class="form-group">
					    <label class="col-sm-2 control-label">Actions</label>
					    <div class="col-sm-10">
					      <p class="form-control-static">
					      	<a href="/admin/page/{{page.key.id()}}/{{block.id()}}/moveup" class="btn btn-xs btn-primary">Move Up</a>
					      	<a href="/admin/page/{{page.key.id()}}/{{block.id()}}/delete" class="btn btn-xs btn-danger">Delete</a></p>
					    </div>
					  </div>
						{{ forms.input('title', 'title', block.get().title) }}
						{{ forms.input('subtitle', 'subtitle', block.get().subtitle) }}
						{{ forms.select('Select type', 'pagination', block_choice, block.get().pagination) }}
						{{ forms.textarea_ckeditor('content', 'content', block.get().content|safe, block.id()) }}
						{% if block.get().pagination == "widget" %}
							{{ forms.textarea_code('widget', 'widget', block.get().widget|safe, 3) }}
						{% endif %}
						{{ forms.textarea_code('script (page bottom)', 'widget_script', block.get().widget_script|safe, 20) }}
						
						<input type="hidden" name="page_id" value="{{page.key.id()}}"/>
						{{ forms.submit_button('Save') }}
					</form>
					{% if block.get().picture %}
					<img width="150px" src="/serve/{{block.get().picture.get().size_max}}"  class="img-responsive img-thumbnail">
					<a href="/admin/block/{{block.id()}}/picture/{{block.get().picture.id()}}/delete?return-to=/admin/page/{{ page.key.id() }}" class="btn btn-danger" name="delete">Delete</a>
					{% endif %}
					{% if block.get().pagination == "pic-left" or block.get().pagination == "pic-right" %}
					<form class="form-horizontal" role="form"  action="{{upload_url}}" enctype="multipart/form-data" method="post">
						<input type="file" class="btn btn-primary" name="picture"/> Picture MUST be 350x350 (sinon c'est pas beau)
						<input type="hidden" name="block_id" value="{{block.id()}}"/>
						<input type="hidden" name="return-to" value="/admin/page/{{ page.key.id() }}"/>

						<button type="submit" class="btn btn-primary ">Add image</button>
					</form>
					{% endif %}
				</div>
			</div>
		</div>

	{% endfor %}
	{% endif %}
	</div><!-- /.row -->
{% endblock content %}