{% extends "admin_base.html" %}
{% import 'forms.html' as forms %}
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="/admin">admin</a></li>
</ol>	
{% endblock breadcrumbs %}
{% block content %}



<div class="row">
	<div class="col-md-12">
		{% include 'admin_view_pages_panel.html' %}
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">Menu items</div>
			<div class="panel-body">
				<div class="list-group">
					{% for menu in menus %}
					<a href="/admin/{{ menu.key.id() }}"  class="list-group-item">{{ menu.key.id() }}</a>
					{% if menu.submenus %}
					<div class="panel-body">
						<div class="list-group">
							{% for submenu in menu.submenus %}
							<a href="/admin/{{ submenu.id() }}"  class="list-group-item">{{ submenu.id() }}</a>
							{% endfor %}
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Create a new menu item</div>
			<div class="panel-body">

				<form class="form-horizontal" role="form" action="/admin/menu/new" method="post">
					{{ forms.input('menu unique id', 'menu_id') }}
					{{ forms.submit_button('New menu') }}
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Create a new sub menu</div>
			<div class="panel-body">

				<form class="form-horizontal" role="form" action="/admin/submenu/new" method="post">
					{{ forms.input('submenu unique id', 'submenu_id') }}
					{{ forms.select('Select parent menu', 'menu_id', menu_list) }}
					{{ forms.submit_button('New submenu') }}
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
			{% include 'admin_view_locales_panel.html' %}
	</div>
</div>



{% endblock content %}