{% import 'forms.html' as forms %}
		<div class="panel panel-default">
			<div class="panel-heading">Locales</div>
			<div class="panel-body">
				<div class="list-group">
					{% for locale in locales %}
					<a href="/admin/{{ locale.key.id() }}"  class="list-group-item">{{ locale.key.id() }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Create a new locale</div>
			<div class="panel-body">

				<form class="form-horizontal" role="form" action="/admin/locale/new" method="post">
					{{ forms.input('Locale unique id', 'locale_id') }}
					{{ forms.input('Locale name (as visible in langage selection menu)', 'name') }}
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">New locale</button>
						</div>
					</div>

				</form>
			</div>
		</div>