{% extends "admin_base.html" %}
{% import 'forms.html' as forms %}
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="/admin">admin</a></li>
</ol>	
{% endblock breadcrumbs %}
{% block content %}



<div class="row">
	<div class="col-md-12">
		{% include 'admin_view_pages_panel.html' %}
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">Menu items</div>
			<div class="panel-body">
				<div class="list-group">
					{% for menu in menus %}
					<a href="/admin/{{ unicode(menu.key.id()) }}"  class="list-group-item">{{ unicode(menu.key.id()) }}</a>
					{% if menu.submenus %}
					<div class="panel-body">
						<div class="list-group">
							{% for submenu in menu.submenus %}
							<a href="/admin/{{ submenu.id() }}"  class="list-group-item">{{ submenu.id() }}</a>
							{% endfor %}
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Dictionary</div>
			<div class="panel-body">
				<div class="table-responsive">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Locale</th>
								<th>Name</th>
								<th>Value</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for localedict in localedicts %}
							<tr>
								<form  role="form"  action="/admin/localedict/{{localedict.key.id()}}/update" enctype="multipart/form-data" method="post">
									<td></td>
									<td>{{localedict.locale.get().key.id()}}</td>
									<td><input type="text" class="form-control" value="{{localedict.name}}" name="name" ></td>
									<td><input type="text" class="form-control" value="{{localedict.value}}" name="value" ></td>
									<td><a href="/admin/localedict/{{localedict.key.id()}}/delete" class="btn btn-danger" name="delete">Delete</a>
									<button type="submit" class="btn btn-primary ">Save</button></td>
								</form>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Add a new element in Dictionary</div>
			<div class="panel-body">

				<form class="form-horizontal" role="form" action="/admin/localedict/new" method="post">
					{{ forms.select('Select parent menu', 'locale_id', locale_list) }}
					{{ forms.input('name', 'name') }}
					{{ forms.input('value', 'value') }}
					{{ forms.submit_button('Save') }}
				</form>
			</div>
		</div>
<!-- 		<div class="panel panel-default">
			<div class="panel-heading">Pictures</div>
			<div class="panel-body">
				<div class="table-responsive">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Preview</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for picture in pictures %}
							<tr>
								<form  role="form"  action="/admin/picture/{{picture.key.id()}}/update" enctype="multipart/form-data" method="post">
									<td></td>
									<td><input type="text" class="form-control" value="{{picture.name}}" name="name" ></td>
									<td><img width="150px" src="/serve/{{picture.size_max}}"  class="img-responsive img-thumbnail"></td>
									<td>
									<button type="submit" class="btn btn-primary ">Save</button></td>
								</form>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
			</div>
		</div>	 -->	
	</div>
	<div class="col-md-4">
			{% include 'admin_view_locales_panel.html' %}
		<div class="panel panel-default">
			<div class="panel-heading">Create a new menu item</div>
			<div class="panel-body">

				<form class="form-horizontal" role="form" action="/admin/menu/new" method="post">
					{{ forms.input('menu unique id', 'menu_id') }}
					{{ forms.select('menu kind', 'kind', kind_choice) }}
					{{ forms.submit_button('New menu') }}
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Create a new sub menu</div>
			<div class="panel-body">

				<form class="form-horizontal" role="form" action="/admin/submenu/new" method="post">
					{{ forms.input('submenu unique id', 'submenu_id') }}
					{{ forms.select('Select parent menu', 'menu_id', menu_list) }}
					{{ forms.submit_button('New submenu') }}
				</form>
			</div>
		</div>
	</div>
</div>



{% endblock content %}