
<!DOCTYPE html>
<html lang="{{locale_id}}">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/img/favicon.ico">

  <title>Le Manoir de Juganville</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/js/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/styles.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
  {% endblock head %}
</head>

<body>
  {% include 'view_nav.html' %}

  <div class="container">

   {% block content %}



   {% endblock content %}


 </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/libs/jquery-1.9.1.js"></script>
    <script src="/static/js/libs/jquery.backstretch.min.js"></script>
    <script src="/static/js/libs/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="/static/js/app.js"></script>-->
    <script>
      $('body').backstretch([
        {% set i = 0 %}
        {% for background in page.backgrounds %}
          {% if i > 0 %},{% endif %}
          "/serve/{{background}}"
          {% set i = i + 1 %}
        {% endfor %}
        ]);
    </script>
  </body>
  </html>
