
<!DOCTYPE html>
<html lang="{{locale_id}}">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="npng.fr">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <!-- Start of Meta Tags -->
  <meta property="og:title" content="{{page.name}} - Le Manoir de Juganville" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://www.juganville.com/{{locale_id}}/{{page.key.id()}}/" />
  <meta property="og:image" content="http://www.juganville.com/serve/{{page.backgrounds[0].get().size_max}}" />
  <meta property="og:site_name" content="Le Manoir de Juganville"/>
  <meta property="og:description" content="{{page.description}}" />

  <title>{{page.name}} - Le Manoir de Juganville</title>

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/superslides.css">
  <link rel="stylesheet" href="/static/css/layout.css">

  <!-- Bootstrap core CSS -->
  
  <!-- <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/slate/bootstrap.min.css" rel="stylesheet"> -->
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/flatly/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="/static/js/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!--   <link href="/static/css/minitoggle.css" rel="stylesheet">-->
  <!-- <link href="/static/css/api.min.css" rel="stylesheet"> 
 -->
  <!-- Custom styles for this template -->
  <link href="/static/css/styles.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
  {% endblock head %}
</head>

<body>

{% include 'view_nav.html' %}
  
<!--   <div class="logo-brand">
    
    <a href="http://juganville.com"><img src="/static/img/manoir-logo.svg"></a>
      
    
  </div>
 -->
  <div class="loading-container">
    <p>Le Manoir de Juganville</p>
    <div class="inner-loading-container">

      <div class="pulse"></div>
      
    </div>
  </div>
  <div id="slides">
    <ul class="slides-container">
      {% for background in page.backgrounds %}
      <li>
        <img src="/serve/{{background.get().size_max}}" alt="">
         <div class="slides-text-container">
          <h1>{{background.get().caption}}</h1>
         </div>
      </li>
      {% endfor %}
    </ul>
    <nav class="slides-navigation">
      <a href="#" class="next">
        <i class="icon-chevron-right"></i>
      </a>
      <a href="#" class="prev">
        <i class="icon-chevron-left"></i>
      </a>
    </nav>
  </div>

  


    <div class="bg-primary main-separator">
      <img src="/static/img/white-swirl-divider.png" alt="-=*=-">
    </div>




   {% block content %}



   {% endblock content %}

{% block footer %}
<footer>
  <div class="container">
    <aside class="panel share">
      <h2>Share</h2>
            <a href="https://twitter.com/share?url=http://www.juganville.com/{{locale_id}}/{{page.key.id()}}/&text=Le Manoir de Juganville&lang={{locale_id}}" class="twitter" target="_blank">Twitter</a>

            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.juganville.com/{{locale_id}}/{{page.key.id()}}/" class="facebook" target="_blank">Facebook</a>

            <a href="https://plus.google.com/share?url=http://www.juganville.com/{{locale_id}}/{{page.key.id()}}/" class="gplus" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google+</a>
    </aside>
    <aside class="panel reference">
      <h2>References</h2>
      <div id="TA_cdsratingsonlywide239" class="TA_cdsratingsonlywide">
        <ul id="AG9E7I" class="TA_links SlSipAOW7nS">
          <li id="4MHsrRORby" class="GaM3S5EscQ">
            <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
          </li>
        </ul>
      </div>
      <script src="http://www.jscache.com/wejs?wtype=cdsratingsonlywide&amp;uniq=239&amp;locationId=578571&amp;lang=en_US&amp;border=false&amp;shadow=true"></script>
    </aside>
<!--     <aside class="panel external-links">
      <h2>Links</h2>
        <a href="http://www.encotentin.fr" target="_blank">encotentin.fr</a><br>
        <a href="http://www.manchetourisme.com" target="_blank">manchetourisme.com</a><br>
        <a href="http://www.american-dday-tours.com" target="_blank">american-dday-tours.com</a><br>
        <a href="http://www.ddaybattletours.com" target="_blank">ddaybattletours.com</a><br>
        <a href="http://www.ddayhistorian.com" target="_blank">ddayhistorian.com</a><br>
    </aside> -->
      <p class="licensing">
        © 2003-2014 Le Manoir de Juganville
      </p>
  </div>
</footer>

{% endblock footer %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="/static/js/libs/jquery.easing.1.3.js"></script>
    <script src="/static/js/libs/jquery.animate-enhanced.min.js"></script>
    <script src="/static/js/libs/jquery.hammer.min.js"></script>
    <script src="/static/js/libs/jquery.superslides.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <!--<script src="/static/js/libs/bootstrap/js/bootstrap.min.js"></script>-->

    <script src="/static/js/app.js"></script>

    <!-- Scripts from page object
    ================================================== -->
    {% block script %}
    {% endblock script %}

  </body>
  </html>
