{% extends "base.html" %}
{% block content %}

{% if page.pagination == "slides" %}



{% endif %}
{% if page.pagination == "jumbo_left" %}
<!-- <div class="row">
	<div class="col-md-4 pull-left">
		<div class="jumbotron">
			<h1>{{page.title}}</h1>
			<p class="lead">{{page.lead}}</p>

			<p><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Book</button></p>
			<div class="alert alert-warning">{{page.content|safe}}</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-lg-4 panel">
          <h2>{{page.title}}</h2>
          <p class="lead">{{page.lead}}</p>
          
          <div class="alert alert-warning">{{page.content|safe}}</div>
          <p><a class="btn btn-primary" href="#" role="button">View rooms »</a></p>
          <p><a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">View rooms <b class="caret"></b></a></p>
	</div>
</div>
{% endif %}
{% if page.pagination == "white" %}
<div class="row white">
	<div class="col-sm-8">
		<h1>How to book accomodation :</h1>
		<h2>Check our vacancies</h2>
		<a target="_blank" href="http://manche-chambre.for-system.com/f34860_fr-.aspx" class="btn btn-primary btn-lg" >Online availability check</a>



		<h2>Give us a call ...</h2>
		<a href="tel:+33233950197" class="btn btn-primary btn-lg" >+33 2 33 95 01 97</a>

		<h2>... or send us a mail</h2>
		<a class="btn btn-primary btn-lg email" href="mailto:manoirjuganville@gmail.com">manoirjuganville@gmail.com</a>
	</div>
	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<div class="sidebar-module sidebar-module-inset">
			<h4>Le Manoir de Juganville</h4>
			<div class="vcard">

				<p class="adr">
					<span class="street-address">39 Les Mézières</span></br>
					<span class="region">Saint Martin de Varreville</span></br>
					<span class="postal-code">50480</span></br>
					<span class="country-name">France</span></br>
				</p>
				<p class="tel"><a href="tel:+33233950197">+33 2 33 95 01 97</a></p>
				<p class="tel"><a href="tel:+33631677201">+33 6 31 67 72 01</a></p>
				<a class="email" href="mailto:manoirjuganville@gmail.com">manoirjuganville@gmail.com</a>
			</div>
		</div>
	</div>
</div>


{% endif %}
{% if page.pagination == "jumbo" %}
<div class="jumbotron">
  <h1>{{page.title}}</h1>
  <p class="lead">{{page.lead}}</p>
  
  <p><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Book</button></p>
  <div class="alert alert-warning">{{page.content|safe}}</div>
</div>
{% endif %}
{% if page.pagination == "right" %}


{% endif %}
{% if page.pagination == "left" %}
<div class="row">
	<div class="col-md-4 pull-left">

		<div class="panel panel-default">
			<div class="panel-body">
				<h2>{{page.title}}</h2>
				<p class="lead">{{page.lead}}</p>
				{{page.content|safe}}


			</div>
		</div>

	</div>
</div>
{% endif %}

{% for block in page.blocks %}
{% if block.get().pagination == "no-pic" %}
<div class="pane">
	<div class="container">
		<div class="row-fluid">
			<div class="col-lg-12">
			
						<h2>{{block.get().title}}</h2>
						<p class="lead">{{page.lead}}</p>
						{{block.get().content|safe}}

						{{block.get().widget|safe}}
					
			</div> 
		
		</div>
	</div>
</div>
{% endif %}
{% if block.get().pagination == "pic-left" %}
<div class="pane">
	<div class="container">
		<div class="row-fluid">
			<div class="col-lg-5">
				{% if block.get().picture %}
				<img class="img-responsive" src="/serve/{{block.get().picture.get().size_max}}">
				{% else %}
				<img class="img-responsive" src="http://placehold.it/350x350">
				{% endif %}
			</div> 
			<div class="col-lg-7">
			
						<h2>{{block.get().title}}</h2>
						<p class="lead">{{block.get().subtitle}}</p>
						{{block.get().content|safe}}

						{{block.get().widget|safe}}
					
			</div> 
		
		</div>
	</div>
</div>
{% endif %}
{% if block.get().pagination == "pic-right" %}
<div class="pane">
	<div class="container">
		<div class="row-fluid">

			<div class="col-lg-7">
			
						<h2>{{block.get().title}}</h2>
						<p class="lead">{{block.get().subtitle}}</p>
						{{block.get().content|safe}}

						{{block.get().widget|safe}}
					
			</div> 
			<div class="col-lg-5">
				{% if block.get().picture %}
				<img class="img-responsive" src="/serve/{{block.get().picture.get().size_max}}">
				{% else %}
				<img class="img-responsive" src="http://placehold.it/350x350">
				{% endif %}
			</div> 		
		</div>
	</div>
</div>
{% endif %}
{% if block.get().pagination == "map" %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3WbMksq6Er0id9QJD6o-bkIp7XSHSgLc&sensor=false"></script>
<script>

</script>
  <div class="container-fluid">
    <div class="row-fluid">
     <div id="map-canvas"></div>
   </div>
 </div>
{% endif %}
{% if block.get().pagination == "widget" %}
<div class="pane">
	<div class="container">
		<div class="row-fluid">

			<div class="col-lg-12">
			
						<h2>{{block.get().title}}</h2>
						<p class="lead">{{block.get().subtitle}}</p>
						{{block.get().content|safe}}

						{{block.get().widget|safe}}
					
			</div> 
		</div>
	</div>
</div>
{% endif %}
{% endfor %}



{% endblock content %}
{% block script %}
{% for block in page.blocks %}
	{{block.get().widget_script|safe}}
{% endfor %}
{% endblock script %}