  {% block nav %}
  <div class="header">
    <div class="navbar navbar-inverse " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Le Manoir de Juganville</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for pge in pages %}
                <li {% if page.menu.id()==pge.menu.id()%}class="active"{% endif %}><a href="/{{locale_id}}/{{pge.key.id()}}">{{pge.name}} </a></li>
            {% endfor %}
<!--             <li class="active"><a href="index.html">The Manor </a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rooms <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="latour">La Tour</a></li>
                <li><a href="#">Badldaquin</a></li>
                <li><a href="#">Exotique</a></li>
                <li><a href="#">Family Suite</a></li>
              </ul>
            </li>
            <li><a href="#contact">The Garden </a></li>
            <li><a href="#contact">Surrounding </a></li>
            <li></li> -->

          </ul>

          <button type="button" class="btn btn-success navbar-btn">Book</button>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{page.locale.get().name}} 
              <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for locale in locales %}
                <li><a href="/{{locale.key.id()}}/{{locale.page.key.id()}}">{{locale.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>  <!-- <div class="container"> -->
    </div>
  </div> <!-- <div class="header"> -->

  {% endblock nav %}